@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
   margin: 0;
}

.sidebar{
   position: fixed;
   width: 300px;
   top:0;
   left: 0;
   bottom: 0;
   background: #111;
   padding-top: 50px;
   margin-top: 110px;
}

.sidebar h1{
   display: block;
   padding: 10px 20px;
   color: #fff;
   text-decoration: none;
   font-family: "Rubik";
   letter-spacing: 2px;
   font-weight: 400;
   margin: 0;
   font-size: 25px;
   text-transform: uppercase;
}

.sidebar a{
   display: block;
   padding: 10px 20px;
   color: #bbb;
   text-decoration: none;
   font-family: "Rubik";
   letter-spacing: 2px;
}

.sidebar a:hover{
   color: #fff;
   margin-left: 20px;
   transition: 0.4s;
}
