html {
    box-sizing: border-box;
}

*, *:before, *after {
    box-sizing: inherit;
}

header {
   /*background-color: #F2EFEA;*/
   background-color: white;
   border-bottom: 2px solid black;
   border-style: inset;
   position: sticky;
   top: 0px;
   z-index: 2;
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

main {
    position: relative;
    background: white;
    z-index: 1;
}



.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.livraison {
    position: absolute;
    left: 100px;
    top: 27px;
    font-family: sans-serif ;
    font-weight: lighter;
    font-size: 12px;
}

.Marybe {
    box-sizing: border-box;
    font-family: sans-serif ;
    font-weight: 500;
    font-size: 35px;
    text-decoration: none;
    /*flex: 1 1 70%;*/
    /*padding-left: 670px;*/
    /*padding-left: 10%;*/
    color:black;
}

.icons {
    /*display: inline-block;*/
    position: absolute;
    /*flex: 1 1 auto;*/
    padding-top: 35px;
    padding-right: 50px;
    right: 30px;
    text-decoration: none;
    color: black;
}

.icons a {
    color: black;
    margin-right: 15px;
    text-decoration: none;
}

.nav-bar {
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 16px 0px 0px 0px;
    text-decoration: none;
}

.nav-bar a {
    position: relative;
    padding: 15px;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-family: sans-serif ;
    font-weight: bold;
    font-size: 12px;
    margin-right: 25px;
    border-bottom: 5px solid transparent;
    width: 75% content-box;
}

.nav-bar a:hover {
    border-bottom: 5px solid black;
    text-decoration: none;
    color: black;

}


body {
  background-color: #FEFFFE;
  /*overflow: hidden;*/
  margin: 0;
  overflow-x: hidden;
}

.sidepanel  {
  width: 0;
  position: fixed;
  /*z-index: 1;*/
  height: 100%;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  /*transition: 0.5s;*/
  padding-top: 60px;
  z-index: 3;
  text-decoration: none;
}



.sidepanel a {
  /*padding: 8px 8px 8px 32px;*/
  /*text-decoration: none;*/
  /*font-size: 25px;*/
  /*color: black;*/
  /*display: block;*/
  /*transition: 0.3s;*/
}

/*.sidepanel a:hover {
  color: #f1f1f1;
}*/

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  text-decoration: none;
  color: #9f9f9f;
}

#overlay {
  position: fixed;
  display: none;
  width: calc(100% - 550px);
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.account-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
}

.account-bar a {
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif ;
    font-weight: 200;
    font-size: 17px;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    /*border-bottom: 5px solid transparent;*/


}

#compte-button {
    border-bottom: .125rem solid black;
}

.account-bar a:hover {
    border-bottom: .125rem solid black;
    text-decoration: none;
    color: black;
}

.account-bar li {
    list-style-type: none;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 381px;*/
    width: 100%;
    top: 0;
}

.login .se-con {
    font-family: sans-serif ;
    font-weight: lighter;
    font-size: 26px;
    color: black;
    margin: 20px 0px 10px;
}

.login .acced {
    font-family: sans-serif ;
    font-weight: lighter;
    font-size: 16px;
    color: black;
    margin: 0px 0px 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 443px;

}
form:hover{
  background-color: #f8f8f8;
}

input {
  display: block;
  width: 313px;
  height: 37px;
  margin: 10px 0;
  padding: 10px;

}



input::placeholder {
  opacity: 0%;
}

input:focus::placeholder {
  opacity: 100%;
}


input[type=email]:focus {
  outline: outline: 2px solid black;
  border-radius:10px;
  padding-top: 20px;
}

.input-design {
  border-radius:10px;
  border: 1px solid #e5e5e5;
  transition: .3s border-color;
  padding: 16px 20px 0px 15px;
  margin-top: 50px;
}

.input-design:hover {
  border: 1px solid #9f9f9f;
}



.email- {
    position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 110px;
    top: 260px;

}

.password- {
    position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 110px;
    top: 340px;

}


.reset-pass {
  text-decoration: underline;
  position: relative;
  display: inline-block;
  color: #b8b8b8;
  font-family: Avenir;
  font-weight: lighter;
  font-size: 15px;
  margin: 10px;
}

.reset-pass:hover {
  color: #9f9f9f;
}


.button-submit {
  position: relative;
  display: inline-block;
  background-color: black;
  color: #b8b8b8;
  /*border: 2px solid #f7f7f7;*/
  font-family: Avenir;
  font-weight: lighter;
  font-size: 15px;
  cursor: pointer;
  border-radius: 50px;
  margin: 0;
  margin-right: 0;
  padding: 0px 32px;
  width: 187px;
  height: 48px;
}

.button-submit:hover {
  color: white;
}

.sign-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    width: 100%;
    background-color: #f6f6f6;
    margin-top: 35px;
    flex-grow: 4;
}

.vous-nav {
    font-family: sans-serif ;
    font-weight: lighter;
    font-size: 24px;
    color: black;
    margin: 20px 0px 15px;
}


.button-create {
  position: relative;
  display: inline-block;
  background-color: black;
  color: #b8b8b8;
  /*border: 2px solid #f7f7f7;*/
  font-family: Avenir;
  font-weight: lighter;
  font-size: 15px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  margin: 0;
  margin-right: 0;
  padding: 0px 32px;
  width: 208px;
  height: 48px;
}

.button-create:hover {
  color: white;
}

.diapo-container {
  margin: 0;
  padding: 0;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
    width: 100%;
    height:100%;  /* 100%*/
    overflow: hidden;
}

.slides {
    width: 500%;
    height: calc(100vh - 120px);
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100%;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  /*margin-top: -40px;*/
  display: flex;
  justify-content: center;
  top: 76vh;
}

.manual-btn1 {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-right: 40px;
}

.manual-btn2 {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-right: 40px;
}

.manual-btn3 {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-right: 40px;
}

.manual-btn4 {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/*.manual-btn:not(:last-child) {
    margin-right: 40px;
}*/

.manual-btn1:hover {
    background: white;
}

.manual-btn2:hover {
    background: white;
}

.manual-btn3:hover {
    background: white;
}

.manual-btn4:hover {
    background: white;
}

#radio1:checked ~.first {
    margin-left: 0;
}

#radio2:checked ~.first {
    margin-left: -20%;
}

#radio3:checked ~.first {
    margin-left: -40%;
}

#radio4:checked ~.first {
    margin-left: -60%;
}

/* css for automatic navigation */

/*.navigation-auto {
    position: absolute;
    display: none;
    width: 100%;
    justify-content: center;
    bottom: 0px;
}*/

/*.navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}*/

/*.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
*/

#radio1:checked ~.navigation-manual .manual-btn1{
    background: white;
}

#radio2:checked ~.navigation-manual .manual-btn2 {
    background: white;
}

#radio3:checked ~.navigation-manual .manual-btn3{
    background: white;
}

#radio4:checked ~.navigation-manual .manual-btn4{
    background: white;
}







.sign-up1 {

    flex-direction: column;
    align-items: center;
    /*height: 381px;*/
    width: 100%;
    top: 0;
    overflow: scroll;
}

.sign-up1 .cre-compte1 {
    font-family: sans-serif ;
    font-weight: lighter;
    font-size: 26px;
    color: black;
    margin: 20px 0px 10px;
}


.sign-up {
    display: none;
    flex-direction: column;
    align-items: center;
    /*height: 381px;*/
    width: 100%;
    top: 0;
    overflow: scroll;
}


.cart {
    display: none;
    flex-direction: column;
    align-items: center;
    /*height: 381px;*/
    width: 100%;
    top: 0;
    overflow: scroll;
}






.sign-up .cre-compte {
    font-family: sans-serif ;
    font-weight: lighter;
    font-size: 26px;
    color: black;
    margin: 20px 0px 10px;
}

.sign-up .rejoignez {
    font-family: sans-serif ;
    font-weight: lighter;
    font-size: 16px;
    color: black;
    margin: 0px 0px 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 443px;

}

input {
  display: block;
  width: 313px;
  height: 37px;
  margin: 10px 0;
  padding: 10px;
}

input[type='text']:focus, [type='email']:focus, [type='password']:focus, [type='select']:focus {
    outline: none;
}

.input-select-design-inscri {
  display: block;
  width: 348px;
  height: 55px;
  margin: 10px 0;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  transition: .3s border-color;
  padding: 16px 20px 0px 15px;
  text-align: center;
}

.input-select-design-inscri:hover {
  border-bottom: 2px solid black;
}


.input-design-inscri {
  background: none;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  transition: .3s border-color;
  padding: 16px 20px 0px 15px;
  width: 348px;
  margin-top: 35px;
}

.input-design-inscri:hover {
  border-bottom: 2px solid black;
}


.name_input_ {
  position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 110px;
    top: 335px;  /*260px*/
}



.entreprise_input_ {
  position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 110px;
    top: 690px;  /*260px*/
}



/*les titres*/



.name_input_1 {
  position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 350px;
    top: 320px;

    /*260px*/
}


.lastname_input_1 {
   position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 350px;
    top: 390px;
}
.pays_input_1 {
   position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 350px;
    top: 480px;

}

.email-inscri1 {
    position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 350px;
    top: 540px;

}

.password-inscri1 {
    position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 350px;
    top: 750px;
}


.number-inscri1 {
    position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 350px;
    top: 610px;
}


.adress-inscri1 {
    position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 350px;
    top: 680px;
}












.lastname_input_ {
   position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 110px;
    top: 410px;
}

.pays_input_ {
   position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 110px;
    top: 485px;

}

.email-inscri {
    position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 110px;
    top: 560px;

}

.password-inscri {
    position: absolute;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #9f9f9f;
    left: 110px;
    top: 630px;
}




.button-submit-cree {
  position: relative;
  display: inline-block;
  background-color: black;
  color: #b8b8b8;
  /*border: 2px solid #f7f7f7;*/
  font-family: Avenir;
  font-weight: lighter;
  font-size: 15px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  margin-right: 0;
  padding: 0px 32px;
  width: 208px;
  height: 48px;

}

.button-submit-cree:hover {
  color: white;
}



.row {
  margin-top: 0px;
  display: flex;

}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0PX;
}


.column:not(:first-child, :last-child) {
  padding-left: 5px;
  padding-right: 5px;
}


footer {
   background-color: black;
   position: sticky;
   bottom: 0px;
   z-index: 0;
}

.footer-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 160px;
    width: 100%;
}

.Marybe-blanc {
    box-sizing: border-box;
    font-family: sans-serif ;
    color: white;
    font-weight: 500;
    font-size: 35px;
}


.nav-container-footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 355px;
    padding: 0px 116px;
}

.heading-titles {
    text-align: left;
    padding: 0px 14px 36px;
    flex: 1 1 0;
}

.heading-titles ul {
    padding: 0;
    list-style: none;
}

.heading-titles p {
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif ;
}

.heading-titles a {
    display: block;
    color: #9B9B9B;
    font-size: 14px;
    font-weight: 100;
    font-family: sans-serif ;
    text-decoration: none;
    margin-bottom: 9px;
}

.heading-titles a:hover {
    text-decoration: underline;
}

.contact-us {
    box-sizing: border-box;
    padding: 0px 116px;
    height: 71px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contact-us li {
    float: left;
    margin-bottom: 9px;
    padding: 0px 0px 0px 9px;
}

.contact-us ul {
    padding: 18px 0px 0px calc(100% - 70px);
    list-style: none;
    flex: 1;
    margin: 0;
    border-top: 1px ridge #9B9B9B;
}

.contact-us a {
    text-decoration: none;
}

.contact-us img {
  width:25px;
  height: 25px;
  cursor: pointer;
}

.welcome {
    font-family: sans-serif ;
    font-weight: lighter;
    font-size: 26px;
    color: black;
    margin: 20px 0px 10px;
}

.log_out {
    font-family: sans-serif ;
    font-weight: lighter;
    font-size: 16px;
    color: black;
    margin: 0px 0px 20px;
    text-decoration: none;
}
.fa i :hover{
  color: black;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
